* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

body {
    background-image: url(./fundo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#topo {
    text-align: center;
    position: center;
}

#topo img {
    margin-top: 10px;
    height: 110px;
    width: 110px;
    position: center;
}

#topo p {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 18px;
    position: center;
    margin-top: 15px;
}


ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: center;
    margin-top: 50px;
    text-align: center;
    gap: 60px;
    
}


ul li a {
    font-family: 'Merriweather', serif;
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;

    border: 2px solid #0E0D41;
    border-radius: 40px;
    background: #CCB596;
    
    
    padding: 10px  100px;

    
    
}





